---
const { color, fullscreen, align, theme, title } = Astro.props;

// Definir clases dependiendo de las props
const colorClass =
  color === "blue"
    ? "bg-blue-900 text-white"
    : color === "orange"
      ? "bg-orange-600 text-white"
      : color === "white"
        ? "bg-white text-black"
        : "bg-gray-800 text-white";

const fullScreenClass = fullscreen ? "min-h-screen" : "min-h-auto";
const flexDirection =
  align === "left-right"
    ? "flex-row"
    : align === "right-left"
      ? "flex-row-reverse"
      : align === "top-bottom"
        ? "flex-col-reverse"
        : "flex-col"; // default o center

const contentAlignment =
  align === "center"
    ? "items-center justify-center text-center"
    : "items-start justify-start text-left";
---

<section class={`rounded-lg ${colorClass} ${fullScreenClass} flex ${flexDirection} ${contentAlignment} gap-6 px-8 py-6`}>
  <div>
    <h2 class="text-4xl font-semibold mb-4">{title}</h2>
    <slot />
  </div>
</section>
